.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.output {
  outline: none;
  border: none;
  width: 320px;
  height: 70px;
  font-size: 32px;
  padding: 2px 10px;
  background: #333333;
  border-top-left-radius: 6px;
  color: white;
  text-align: right;
}
button {
  width: 85px;
  height: 90px;
  font-size: 26px;
  cursor: pointer;
  border: none;
  border-top: 1px solid #666;
  border-right: 1px solid #666;
}
.operator {
  border-right: none;
  background-color: rgb(226, 182, 40);
  /* color: white; */
}
.funKey {
  background-color: #ada8a8;
}
.digit:hover {
  background-color: #d9d9d9;
}
.operator:hover {
  background-color: #c7ab0f;
}
.funKey:hover {
  background-color: #8f8d8d;
}
.heading {
  color: rgb(18, 7, 219);
}
.title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(90deg, #2a0ec7, #3dd00c, #ff6a00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

